<div class="fishbox span6 offset3 text-center">


	<h1 class="custom-h1"> Hi I'm Ruby
	</h1>

	<br/>

	<h2 color:white>This is my awesome web development journey</h2>

	<br/>


<%=  link_to 'Launch', pics_path, :class => 'btn btn-warning'    %>



</div>